albert_heijn_workflow.json
{
  "name": "Albert Heijn Price Checker",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ah-price-check",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "ah-price-check"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "product_name",
              "value": "={{ $json.product_name || $json.query || 'milk' }}"
            },
            {
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-product-name",
      "name": "Set Product Name",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "command": "cd /Users/milanalbertz/Desktop/projects/n8n && python3 ah_price_checker_demo.py \"={{ $json.product_name }}\"",
        "options": {}
      },
      "id": "execute-python-script",
      "name": "Execute Python Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse the Python script output\nconst output = $input.first().json.stdout;\nlet result;\n\ntry {\n  result = JSON.parse(output);\n} catch (error) {\n  result = {\n    success: false,\n    error: 'Failed to parse Python output',\n    raw_output: output\n  };\n}\n\n// Add additional metadata\nresult.execution_time = new Date().toISOString();\nresult.n8n_execution_id = $execution.id;\n\nreturn { json: result };"
      },
      "id": "parse-python-output",
      "name": "Parse Python Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "message",
              "value": "Price found successfully"
            },
            {
              "name": "product_name",
              "value": "={{ $json.product_name }}"
            },
            {
              "name": "found_product_name",
              "value": "={{ $json.found_product_name || $json.product_name }}"
            },
            {
              "name": "price",
              "value": "={{ $json.price || 'Not available' }}"
            },
            {
              "name": "unit_price",
              "value": "={{ $json.unit_price || 'Not available' }}"
            },
            {
              "name": "discount",
              "value": "={{ $json.discount || 'No discount' }}"
            },
            {
              "name": "url",
              "value": "={{ $json.url || 'Not available' }}"
            },
            {
              "name": "availability",
              "value": "={{ $json.availability || 'Unknown' }}"
            },
            {
              "name": "execution_time",
              "value": "={{ $json.execution_time }}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-success-response",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "error"
            },
            {
              "name": "message",
              "value": "Failed to get price"
            },
            {
              "name": "product_name",
              "value": "={{ $json.product_name }}"
            },
            {
              "name": "error",
              "value": "={{ $json.error || 'Unknown error' }}"
            },
            {
              "name": "execution_time",
              "value": "={{ $json.execution_time }}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-error-response",
      "name": "Format Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Set Product Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Product Name": {
      "main": [
        [
          {
            "node": "Execute Python Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Python Script": {
      "main": [
        [
          {
            "node": "Parse Python Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Python Output": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
}
